html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: arial, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

a:hover {
    color: deepskyblue;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-auto {
    flex: auto;
    overflow: hidden;
}

.wci-loading {
    pointer-events: none;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

@keyframes wci-loading-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.wci-loading-icon {
    width: 35px;
    height: 35px;
    color: #0077cf;
    animation: 0.382s wci-loading-animation linear infinite;
}

.wci-loading-label {
    margin-left: 10px;
    font-size: 14px;
    width: 70px;
    white-space: nowrap;
}

.wci-menu {
    width: 200px;
    background-color: #222;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wci-menu a:visited,
.wci-menu a:link {
    color: #fff;
}

.wci-menu-title {
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px 0 15px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #111;
    display: flex;
    flex-direction: row;
    background-color: #000;
}

.wci-menu-title svg {
    display: block;
}

.wci-menu-title .wci {
    flex: auto;
}

.wci-menu-title .github {
    padding: 5px 0;
    width: 25px;
    height: 25px;
}

.wci-menu-list {
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wci-menu-item {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 16px;
}

.wci-menu-packages {
    margin: 0;
    flex: auto;
    overflow: auto;
}

.wci-menu-packages li {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}

.wci-menu-packages span {
    font-size: 12px;
    color: #ccc;
    margin-left: 5px;
}

.wci-main {
    flex: auto;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
}

.wci-main a:visited,
.wci-main a:link {
    color: #333;
}

.wci-header {
    font-size: 16px;
    padding: 0 20px 0 15px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
}

.wci-finder {
    height: 100%;
}

.wci-title {
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    font-size: 35px;
}

.wci-stats {
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
}

.wci-filter {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    max-width: 600px;
}

.wci-searcher {
    border-radius: 10px;
    padding: 10px 15px;
    width: 100%;
    background-color: #eee;
}

.wci-keywords {
    border: none;
    height: 32px;
    line-height: 32px;
    outline: none;
    margin-right: 5px;
    font-size: 18px;
    background-color: transparent;
}

.wci-keywords:focus {
    border: none;
}

.wci-popular {
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
}

.wci-popular span {
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.wci-popular span:hover {
    color: deepskyblue;
}

.wci-grid-header {
    font-size: 16px;
    padding: 8px 5px;
}

.wci-grid-footer {
    font-size: 16px;
    padding: 10px 5px;
}

.wci-view {
    margin: 20px;
}

.wci-grid {
    border-radius: 5px;
    border: 1px solid #ccc;
}

.wci-grid .tg-turbogrid .tg-scrollbar-track {
    border-radius: 5px;
    background-color: #f2f2f2;
}

.wci-grid .tg-turbogrid .tg-scrollbar-thumb {
    border-radius: 5px;
}

.wci-grid .tg-turbogrid .tg-cell.wci-icon {
    padding-top: 5px;
    padding-left: 10px;
}

.wci-grid .tg-turbogrid .tg-cell.wci-textarea {
    padding: 3px 5px;
}

.wci-grid .tg-turbogrid .tg-cell.wci-textarea textarea {
    width: 100%;
    height: 100%;
    resize: none;
    font-family: monaco, sans-serif;
}

.wci-icon-item {
    cursor: pointer;
    opacity: 0.6;
}

.wci-icon-item:hover {
    opacity: 1;
}

.wci-grid .tg-turbogrid .tg-cell .wci-icon-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wci-not-found {
    font-size: 20px;
}
