html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: arial, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a:hover {
    color: deepskyblue;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-auto {
    flex: auto;
    overflow: hidden;
}

.wci-loading {
    pointer-events: none;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

@keyframes wci-loading-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.wci-loading-icon {
    width: 35px;
    height: 35px;
    color: #0077cf;
    animation: 0.382s wci-loading-animation linear infinite;
}

.wci-loading-label {
    margin-left: 10px;
    font-size: 14px;
    width: 70px;
    white-space: nowrap;
}

.tg-turbogrid .tg-scrollbar .tg-scrollbar-track,
.tg-turbogrid .tg-scrollbar .tg-scrollbar-thumb {
    border-radius: 5px;
}

.wci-menu {
    width: 200px;
    background-color: #222;
    color: #eee;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wci-menu a:visited,
.wci-menu a:link {
    color: #eee;
    text-decoration: none;
}

.wci-menu a:hover {
    color: #fff;
}

.wci-menu-header {
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px 0 15px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #111;
    display: flex;
    flex-direction: row;
    background-color: #000;
}

.wci-menu-header svg {
    display: block;
}

.wci-menu-header .wci {
    flex: auto;
    font-size: 22px;
}

.wci-menu-header .github {
    margin: 5px 0;
    width: 25px;
    height: 25px;
}

.wci-menu-grid .tg-row .tg-tree-name {
    cursor: pointer;
}

.wci-menu-grid .tg-pane .tg-scrollbar-thumb {
    background-color: #666;
}

.wci-menu-grid .tg-pane .tg-scrollbar-thumb:hover {
    background-color: #999;
}

.wci-menu-footer {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wci-menu-footer a:visited,
.wci-menu-footer a:link {
    color: #999;
}

.wci-menu-footer a:hover {
    color: #fff;
}

.wci-main {
    width: calc(100% - 200px);
    height: 100%;
    box-sizing: border-box;
}

.wci-main a:visited,
.wci-main a:link {
    color: #333;
}

.wci-header {
    position: relative;
}

.wci-toolbar {
    text-align: center;
    font-size: 16px;
    padding: 0 20px 0 15px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
}

.wci-toolbar select {
    margin-right: 5px;
}

.wci-title {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding: 20px;
}

.wci-link {
    margin-bottom: 15px;
    text-align: center;
}

.wci-link a:link,
.wci-link a:visited {
    margin-top: 8px;
    font-size: 16px;
    color: #666;
}

.wci-link a:hover {
    color: #0077cf;
}

.wci-stats {
    text-align: center;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
}

.wci-stats a:link,
.wci-stats a:visited {
    font-size: 16px;
}

.wci-stats a:hover {
    color: #0077cf;
}

.wci-view {
    position: relative;
    overflow: hidden;
    margin: 20px;
}

.wci-package {
    display: none;
    position: relative;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.wci-package::after {
    content: "";
    display: block;
    clear: both;
}

.wci-icon-item {
    float: left;
    margin: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}

.wci-icon-item:hover {
    border: 1px solid #ccc;
}

.wci-icon-item-label {
    margin-top: 5px;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.wci-finder {
    height: 100%;
    display: none;
}

.wci-filter {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    max-width: 600px;
}

.wci-searcher {
    width: 100%;
    position: relative;
}

.wci-keywords {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px 45px 10px 15px;
    background-color: #eee;
    height: 32px;
    line-height: 32px;
    outline: none;
    font-size: 18px;
    box-sizing: content-box;
    display: block;
    width: calc(100% - 60px);
}

.wci-keywords:focus {
    border: 2px solid lightblue;
}

.wci-searcher-icon {
    position: absolute;
    right: 10px;
    top: 13px;
}

.wci-popular {
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
}

.wci-popular span {
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.wci-popular span:hover {
    color: deepskyblue;
}

.wci-grid {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.wci-grid .tg-turbogrid .tg-scrollbar-track {
    background-color: #f2f2f2;
}

.wci-grid .tg-turbogrid .tg-cell.wci-icon {
    padding: 4px;
    border-left: thin solid #e5e5e5;
    border-right: thin solid #e5e5e5;
}

.wci-grid .tg-turbogrid .tg-cell.wci-textarea {
    padding: 3px 5px;
}

.wci-grid .tg-turbogrid .tg-cell.wci-textarea textarea {
    width: 100%;
    height: 100%;
    resize: none;
    font-family: monaco, sans-serif;
}

.wci-grid .wci-icon-action {
    cursor: pointer;
    opacity: 0.6;
}

.wci-grid .wci-icon-action:hover {
    opacity: 1;
}

.wci-grid .tg-turbogrid .tg-cell .wci-icon-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wci-grid .wci-not-found {
    font-size: 20px;
}
